.cart-items {
    margin: 8rem;
}

.cart-container {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 2rem rgba($color: rgb(123, 135, 196), $alpha: .3);


    &__headings  {
        padding: 1.5rem 5rem;
        display: flex;
        gap: 10rem;
        justify-content: space-evenly;

        border-bottom: 1px solid #979797;
        width: 90%;
        margin: 0 auto;


        span {
            color: #646464;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    .alert-text {
        text-align: center;
        padding: 2rem 0;
        color: #646464;
    }
}