.cart {
    margin: 1rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & > * {
        width: 10%;
    }

    &__quantity {
        button {
            font-size: 1.4rem;
            padding: 0 .5rem;    
            border-radius: 5px;
            box-shadow: 0 .2rem .3rem rgba($color: #000, $alpha: .3);
            transition: all .3s;

            &:hover {
                background-color: #fff;
                transform: translateY(2px);
            }

            &:active {
                transform: translateY(0);
            }
        }

        input {
            margin-left: .6rem;
            margin-right: .6rem;
            text-align: center;
        }
    }

    img {
        height: 4rem;
        width: 4rem;
        border-radius: 10px;
    }

    h3 {
        font-size: 1.2rem;
    }

    input {
        border: none;
        border-bottom: 1px solid #3f3f3f;
        outline: none;
        width: 25%;
        font-size: 1.2rem;
    }

    .discard {
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
            width: 2rem;
            height: 2rem;
            transition: all 0.4s;

            &:hover {
                transform: scale(1.08);
            }
        }
    }
}
