@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.text-huge {
    font-size: 2rem;
    margin-left: 0.5rem;
    font-weight: 500;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
