.card {
    margin: 2rem 0;
    background-color: var(--secondary-color);
    height: 13rem;
    width: 13rem;
    border-radius: 2rem;

    // for center the text both vertical and horizontally
    text-align: center;
    vertical-align: middle;
    line-height: 12rem;

    // background shadow
    box-shadow: 0 1rem 2rem rgba($color: #000, $alpha: .2);

    // hover effects
    transition: all .3s;

    &:hover {
        box-shadow: 0 .7rem 1rem rgba($color: #000, $alpha: .3);
        transform: scale(1.06);
        cursor: pointer;
    }

    h1 {
        font-size: 1.6rem;
        font-weight: 500;
    }
}
