.filters {
    font-size: 1.4rem;
    flex: 0 0 15%;

    border-right: 1px solid #9c9c9c;

    h1 {
        margin-bottom: 5rem;
    }

    &__group {
        margin-bottom: 1rem;

        label {
            margin-left: .5rem;
        }

        input[type="checkbox"] {
            transform: scale(2);
        }
    }
    
}