.product {
    margin: 2rem 0;
    background-color: var(--secondary-color);
    height: 20rem;
    width: 13rem;
    border-radius: 2rem;

    &__thumbnail {
        height: 55%;
        &-img {
            max-width: 100%;
            max-height: 100%;
            min-height: 90%;

            border-radius: 2rem;
        }
    }

    &__footer {
        margin-left: 1rem;
        text-align: left;

        & > * {
            &:not(:last-child) {
                margin-bottom: 0.3rem;
            }
        }

        h1 {
            font-weight: 400;
        }

        h2 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
            font-weight: 500;
        }
    }   

    text-align: center;
    button {
        margin: .7rem 0;
        width: 80%;
        padding: .4rem .2rem;
        border-radius: .7rem;
        background-color: #000;
        color: var(--secondary-color);
        font-size: 1rem;
        border: none;
        transition: all .3s;

        &:hover {
            transform: translateY(-5px) scale(1.04);
            
        }

        &:disabled {
            background-color: #aca9a9;
        }
    }
}

.red {
    color: #ff8989;
}

.green {
    color: #3bc534;
}
