.nav {
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
    border-bottom: 2px solid #000;

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;

        a {
            text-decoration: none;
            color: #000;
        }
    }

    &__cart {
        display: flex;
        gap: 1.5rem;
    }

    &__item {
        &-count,
        &-price {
            font-weight: 600;
        }

        &-count {
            background-color: #fff;
            border-radius: 50%;
            padding: 0.2rem 0.8rem;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }
}
